<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
<%- include('includes/navigation.ejs') %>

<main>
    <% if(prods.length > 0) { %>
        <h1>My Products</h1>
        <div class="grid">
            <% for(let product in prods) { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title"><%= product.title %></h1>
                    </header>
                    <div class="card__image">
                        <img src="https://cdn.pixabay.com/photo/2020/08/25/18/29/workplace-5517762__340.jpg" alt="">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">$19.99</h2>
                        <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                            aspernatur consequuntur cumque distinctio dolorum eaque eum fuga ipsa iusto pariatur, porro
                            provident quas quis ratione tempora. Consequatur ea quo sequi.</p>
                    </div>
                </article>
            <% } %>
        </div>
    <% } else { %>
        <h1>No products found</h1>
    <% } %>
</main>
<%- include('includes/end.ejs') %>